.assignPinModal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  margin: 40px auto;

  h2 {
    text-align: center;
  }

  &__search {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__details {
    flex-grow: 1;
  }

  &__name {
    font-weight: bold;
  }

  &__email,
  &__department {
    font-size: 14px;
  }

  &__assignButton {
    margin-top: 5px;
    background-color: #4dd699;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(white, 10%);
    }
  }

  &__closeButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(gray, 10%);
    }
  }
}
