.pinListContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pinListContainer__baner {
  background-color: #ffffff;
  padding: 12px;
  border: 2px solid #34a484;
  border-radius: 8px;
  text-align: start;
  margin-bottom: 16px;
  width: 90%;
  max-width: 400px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.pinListContainer__baner__title,
.pinListContainer__baner__paragraph {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: left;
  line-height: 1.4;
  color: #303140;
}

.pinListContainer__baner__title {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center; 
  gap: 8px;
}

.pinListContainer__baner__paragraph {
  font-size: 14px;
}

.pinList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 0 16px;
  justify-items: center;
  grid-template-rows: 150px;
}
