@import "@/assets/scss/_colors.scss";
@import "@/assets/fonts/Poppins.scss";

.pinDetail {
  margin-top: 20px;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 16px;
    color: $rindus-medium-gray;
    @include font-poppins-regular;
    font-size: 16px;
    width: 100%;
    line-height: 22px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;

    @include font-poppins-regular;

    &:hover {
      background-color: darken($rindus-green, 10%);
    }
  }
}
