@import "@/assets/scss/_colors.scss";
@import "@/assets/fonts/Poppins.scss";

.pinCard {
  @include font-poppins-regular;
  align-items: center;
  background-color: $rindus-off-white;
  border-radius: 8px;
  display: flex;
  height: 100px;
  justify-content: space-evenly;

  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 70px;
    padding-left: 12px;
    width: 20%;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 15px;
    font-size: 20px;
  }

  &__button {
    padding-right: 20px;
    height: 24px;
    width: 24px;
    border: none;
    background: none;
    padding: 0;

    button {
      height: 24px;
      width: 24px;

      g {
        height: 100%;
        width: 100%;
      }
    }
  }
}
